@font-face {
    font-family: "fraunces";
    src: url(./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf)
}

@font-face {
    font-family: "manrope";
    src: url(./assets/fonts/manrope/static/Manrope-Regular.ttf)
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #fbf8ff;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.top-section-container  {
    height: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    position: relative;
    overflow: hidden;
}

    img.phone,
    img.phone-overlay {
        width: 500px;
        z-index: 1;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        bottom: 10%;
    }

    img.phone-overlay {
        opacity: 50%;
    }

    img.spiral-left {
        position: absolute;
        z-index: 2;
        top: 10%;
        left: -7%;
    }

    img.spiral-right {
        position: absolute;
        z-index: 2;
        right: -3%;
        bottom: 37%;
    }

    .top-section {
        background-color: #24053e;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17%;
        width: 100%;
    }
        .top-section button.link {
            font-family: "manrope";
            border-bottom: 2px solid #43ffa1;
            font-size: 1em;
        }
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            height: 50px;
            width: 100%;
        }
            .header .link  {
                color: #fffffe;
            }

        .top-section .learn-more-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 400px;
            gap: 20px;
        }
            .learn-more-container p.message {
                color: #fffffe;
                text-align: center;
                font-family: "fraunces";
                font-size: 4rem;
                margin: 0;
            }
                p.message span {
                    border-bottom: 4px solid #43ffa1;
                }

            .learn-more-container button.learn-more {
                width: 100px;
                height: 50px;
                background-color: #43ffa1;
                font-family: "manrope";
                color:#24053e;
            }

    .top-section-curve {
        border-radius: 100%;
        background-color: #24053e;
        height: 200px;
        width: 150%;
        position: absolute;
        top: 54%;
        left: -27%;
        z-index: -1;
    }

.middle-section {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbf8ff;
    margin-bottom: 75px;
}

    .content-container {
        display: grid;
        align-self: center;
        align-items: center;
        align-items: center;
        gap: 5%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 75%;
    }
        .content-container > * {
            color: #1f0933;
            text-align: center;
        }

        .subcontent-container .number {
            height: 50px;
            width: 50px;
            border: 1px solid #1f0933;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }

        .subcontent-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 275px;
        }
            .subcontent-container .media-text-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 75%;
            }

.bottom-section {
    width: 100%;
    padding: 5%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .bottom-section .absolutes-container {
        position: relative;
        height: 600px;
        width: 70%;
    }
        .bottom-section img.person {
            height: auto;
            width: 60%;
            min-width: 250px;
            max-width: 575px;
            background-color:#43ffa1;
            border-radius: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .bottom-section .apply-link-container {
            width: 57%;
            height: 70%;
            z-index: 2;
            background-color: #24053e;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .bottom-section .apply-link-container img.bottom-spiral {
            position: absolute;
            bottom: -20%;
            right: 0;
            width: 40%;
            height: auto;
        }

        .bottom-section .apply-link-container {
            display: flex;
            padding: 5%;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            font-family: "manrope";
            color: #fffbff;
        }

            .apply-link-container h1.apply-title {
                font-family: "fraunces";
                font-size: 3em;
                margin: 0;
            }

            .apply-link-container p.apply-text {
                margin: 0;
                line-height: 2;
            }

            .apply-link-container button.apply {
                height: 13%;
                width: 25%;
                background-color:#43ffa1;
            }

footer {
    background-color: #ffffff;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
    footer .social-media-links {
        display: flex;
        width: 125px;
        justify-content: space-between;
    }

@media screen and (max-width: 1000px) {
    img.phone,
    img.phone-overlay {
        width: 400px;
        bottom: 10%;
    }

    img.spiral-left {
        left: -22%;
    }

    img.spiral-right {
        right: -9%;
    }

    .content-container {
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
        gap: 35px;
    }

    .subcontent-container {
        flex-direction: row;
        align-items: center;
        height: auto;
    }

    .subcontent-container .media-text-container {
        text-align: left;
        align-items: flex-start;
        margin-left: 25px;
    }

        .subcontent-container .media-text-container > * {
            margin: 0;
        }

    .bottom-section .apply-link-container {
        width: 75%;
        height: 60%;
    }

    .bottom-section .absolutes-container {
        width: 90%;
    }

}

@media screen and (max-width: 725px) {
    img.spiral-left {
        opacity: 0;
    }

    img.spiral-right {
        opacity: 0;
    }

    .apply-link-container h1.apply-title {
        font-size: 1.75em;
    }
}

@media screen and (max-width: 550px){
    .top-section .learn-more-container {
        width: 340px;
    }

    img.phone,
    img.phone-overlay {
        width: 300px;
        bottom: 15%;
    }

    .middle-section .content-container {
        gap: 35px;
    }

    .subcontent-container {
        flex-direction: column;
    }

        .subcontent-container .media-text-container {
            align-items: center;
            text-align: center;
        }

    .bottom-section .absolutes-container {
        width: 90%;
    }

    .bottom-section img.person {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-section .apply-link-container {
        left: 0;
        right: 0;
        height: 65%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .bottom-section img.bottom-spiral {
        visibility: hidden;
    }

    .apply-link-container h1.apply-title {
        font-size: 2em;
    }

    .bottom-section .apply-link-container {
        align-items: center;
    }

    .bottom-section .apply-link-container > * {
        text-align: center;
    }
}